### App ###


### Servidor ###
/Servidor/mafeed/.gradle
/Servidor/mafeed/build/
/Servidor/mafeed/!gradle/wrapper/gradle-wrapper.jar
/Servidor/mafeed/.apt_generated
/Servidor/mafeed/.classpath
/Servidor/mafeed/.factorypath
/Servidor/mafeed/.project
/Servidor/mafeed/.settings
/Servidor/mafeed/.springBeans
/Servidor/mafeed/.sts4-cache
/Servidor/mafeed/.idea
/Servidor/mafeed/out/
/Servidor/mafeed/bin
/Servidor/mafeed/bin

### Comum ###
*.iws
*.iml
*.ipr
*.pro
*.classpath
*.project
